body {
  font-family: Arial, sans-serif;
  background-color: #FA5107;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  margin-top: 0;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
}

button {
  background-color: #FA5107;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #25663f;
}